.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-link {
  top: 253px;
  left: 48px;
  color: var(--dl-color-gray-black);
  width: 485px;
  height: 306px;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 0px;
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(255, 0, 0);
}
.home-container1 {
  top: 298px;
  left: 60px;
  width: 459px;
  height: 246px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  left: -50px;
  width: 460px;
  bottom: -6px;
  height: 256px;
  position: absolute;
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
}
.home-code-embed {
  top: 264px;
  right: 23px;
  position: absolute;
  padding-top: Infinitypx;
}
.home-image1 {
  top: -6px;
  left: 490px;
  width: 878px;
  height: 195px;
  position: absolute;
  object-fit: cover;
}
.home-image2 {
  top: 42px;
  left: 22px;
  width: 127px;
  height: 86px;
  position: absolute;
  object-fit: cover;
}
.home-image3 {
  top: -6px;
  left: 490px;
  width: 878px;
  height: 195px;
  position: absolute;
  object-fit: cover;
}
.home-button {
  top: 46px;
  left: 169px;
  width: 135px;
  height: 73px;
  display: flex;
  position: absolute;
  font-size: 22px;
  padding-top: 0px;
  padding-left: 18px;
  flex-direction: row;
  padding-bottom: 18px;
  background-color: #1600dc;
}
.home-text {
  top: 1px;
  right: 18px;
  position: absolute;
}
.home-button1 {
  top: 573px;
  left: 46px;
  position: absolute;
  background-color: rgb(249, 241, 6);
}
